html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --bg-light-color: #ffffff;
    --main-dark-color: #464fb6;
    --main-light-color: #9d86be;
    --box-dark-color: #E8E8E8;
    --box-text-color: #6e6e6e;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.red {
    color: #ff8f8f;
}

.spinner-container {
    width: 100vw;
    height: 100vh;
}

.spinner {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #42a5f5 !important;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--bg-light-color);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    border: 1px solid var(--main-light-color);
}

.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-item {
    text-decoration: none;
    color: var(--main-dark-color);
    cursor: pointer;
    position: relative;
    width: max-content;
}

.nav-item-title {
    padding: 0 5px;
}

.nav-menu-hidden {
    position: absolute;
    background-color: var(--bg-light-color);
    min-width: 100%;
    height: 4.25px;
    z-index: 11;
}

.nav-menu-visible {
    position: absolute;
    z-index: 10;
    background-color: var(--bg-light-color);
    min-width: 100%;
    padding: 0 5px;
    border-radius: 4px;
    border-left: 1px solid var(--main-light-color);
    border-right: 1px solid var(--main-light-color);
    border-bottom: 1px solid var(--main-light-color);
    overflow: hidden;
    margin-top: 2px;
}

.nav-menu-item {
    white-space: nowrap;
    color: var(--main-dark-color);
    margin: 5px 0;
}

.nav-menu-item:hover {
    color: var(--main-light-color);
}

.board {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    background-color: var(--bg-light-color);
    border: 1px solid var(--main-light-color);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: calc(100vh - 60px);
    overflow-x: scroll;
    overflow-y: hidden;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: end;
    height: 95%;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

.highlight {
    z-index: 0;
    background-color: #e8e8e844;
    top: 0;
    left: 0;
    right: 210px;
    bottom: 0;
    border-radius: 4px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    width: 200px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: box-shadow 0.25s;
    position: relative;
}

.divider {
    z-index: 1;
    width: 200px;
    height: 25px;
}

.state-box {
    background-color: var(--box-dark-color);
}

.add-box {
    cursor: pointer;
    justify-content: center !important;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
}

.box-text {
    color: var(--box-text-color);
}